/* Gerais */
body {
    font-family: 'roboto', sans-serif;
    background-color: darkgrey;
}

.row {
    margin: 0;
}

/* Zeramos o padding nas laterais */
.container {
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}

/* Barra de navegação*/

header, navbar {
    background-color: #353D41;
}

nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 110px;
}

.navbar-brand{
    padding: 0;
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

.navbar-links a {
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

/* Slider*/

.container-fluid{
    padding: 0;

}

mainSlider .carousel-inner, mainSlider .carousel-item {
    /* Cobre apenas 90% da tela com o slider*/
    height: 90vh;
}

#mainSlider .carousel-caption {
    top: 30%;
} 

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #fff;
}

.main-btn {
    background-color: #957bda;
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    /*arredonda só metade da altura*/
    border-radius: 30px;
    border: solid 3px transparent;
    transition: .5s;
}

.main-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border-color: #957bda;
}

.carousel-indicators .active {
    background-color: #957bda;
}
/* ---------card ---------------*/

.card{
    
    box-shadow:2px 5px 30px rgba(19, 18, 18, 0.856) ;
    transition: 1s all;
    border: none;
}


.card:hover{
  
    transform:translateY(-15px);
    -ms-transform: translateY(-15px); /* IE 9 */
    -webkit-transform: translateY(-15px); /* Safari e Chrome */
    -webkit-transform: translateY(-15px) ;/* Safari e Chrome */
    -moz-transform: translateY(-15px); /* Firefox */
    
}
.card-header{
    background-color: rgba(14, 12, 12, 0.774);
  
}
.card i{
    color:rgba(19, 18, 18, 0.856)

}

form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    margin-top: 30px;
    background-color: #957bda;
    padding: 25px;
    border-radius: 2px 30px;
    box-shadow: 0 0 1em black;
    transition: 1s;
}

form:hover {
    transform: scale(1.1); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}
.form-text {
    padding: 15px;
}

/* ---------Iarlei - Footer---------------*/

  footer{
    background: black;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-gap: 10px;
    
    padding: 10px;
  }
  
  .grid-container > div {
   
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  /* ---------Iarlei - FIM - Footer---------------*/

